.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  padding: 1rem;
  width: 10%;
}

/* odd line color */
/* li:nth-child(2n+1) {
  background: silver
} */


li {
  list-style-type: none;
  padding : 1rem;
  display: inline;
  font-size: 2rem;
  cursor: pointer;
}